<div class="container">
    <div class="footer__inner">
        <div class="footer__col">
            <img src="img/footer-logo.svg" alt="" class="footer__logo">
            <div class="footer__copyright">© 2022 We Move Cargo</div>
            <div class="footer__cookie">Cookie Policy</div>
            <div class="footer__protect">Protection of Personal Data</div>
        </div>
        <div class="footer__col">
            <div class="footer__city">Abu Dhabi</div>
            <a href="tel:9713328866" class="footer__phone">971-3328866</a>
            <a href="mailto:info@wemovecargo.com" class="footer__mail">info@wemovecargo.com</a>
            <div class="footer__address">
                945 O'Conner Prairie,22 , <br> 65800
            </div>
        </div>
        <div class="footer__col">
            <div class="footer__city">Dubai</div>
            <a href="tel:9713423256" class="footer__phone">971-3423256</a>
            <a href="mailto:info@wemovecargo.com" class="footer__mail">info@wemovecargo.com</a>
            <div class="footer__address">
                Bahia 1 Building <br>
                456H+MQ2 - Al Sufouh - Al <br> Sufouh 1
            </div>
        </div>
        <div class="footer__col">
            <div class="footer__links">
                <a href="" class="footer__link">Transit</a>
                <a href="" class="footer__link">Partners</a>
                <a href="" class="footer__link">Geography</a>
                <a href="" class="footer__link">Logistics</a>
                <a href="" class="footer__link">About Us</a>
            </div>
        </div>
    </div>
</div>
